.btn-pavilion-subscribe {
  border: 2px solid var(--tertiary);
  padding: 2em;
  margin-right: 2em;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: unset;

  &.selected {
    background-color: var(--tertiary);
    color: var(--secondary);
  }
}

.discourse-subscriptions-section-columns {
  margin: 20px 0;
  padding: 20px 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48.5%, 1fr));
  grid-gap: 2em;
  margin: 2em 0 4em 0;

  .product {
    margin: 0;
    width: unset;
  }
}

.subscriptions-banner {
  display: none;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 200, 0, 0.25);

  &.visible {
    display: block;
  }
}

.subscription-data {
  ul {
    list-style: none;
    margin: 0;
  }
  td {
    vertical-align: top;
  }
}

.subscription-domain {
  display: flex;
  gap: 1em;
  align-items: center;

  .remove-domain {
    background-color: unset;
  }
}

.discourse-subscriptions-invoices-btn {
  margin-left: auto;

  .d-button-label {
    color: var(--secondary) !important;
  }
}
